title List of Patients
h2 List of patients
hr

for member in members

    td="Name: "+member.firstname+" "+member.lastname
    br
    br
    td="Gender: "+ member.gender
    br
    br
    td="Age: "+member.age+ " years "
    br
    br
    td="Date of birth: "+ member.dob
    br
    br
    td="Phone no: "+ member.phone  
    hr
    br